<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间-->
<mapper namespace="ssm.dao.StudentMapper">
  <!--防止实体类与数据库命名不一致-->
      <resultMap id="studentMap" type="ssm.model.Student">
        <id column="student_id" property="student_Id" javaType="java.lang.Integer" />
        <result column="create_at" property="create_At" javaType="java.lang.Long"/>
        <result column="update_at" property="update_At" javaType="java.lang.Long" />
        <result column="student_name" property="student_Name" javaType="java.lang.String" />
        <result column="student_qq" property="student_Qq" javaType="java.lang.Integer" />
        <result column="student_type" property="student_Type" javaType="java.lang.String"/>
        <result column="learning_time" property="learning_Time" javaType="java.lang.Long"/>
        <result column="school" property="School"  javaType="java.lang.String"/>
        <result column="laerning_number" property="laerning_Number" javaType="java.lang.Integer"/>
        <result column="learning_url" property="learning_Url" javaType="java.lang.String"/>
        <result column="dream" property="Dream" javaType="java.lang.String"/>
        <result column="teacher" property="Teacher" javaType="java.lang.String"/>
      </resultMap>
        <sql id="selectSql">
            create_At,update_At,student_Name,student_Qq,student_Type,learning_Time,School,laerning_Number,learning_Url,Dream,Teacher
        </sql>

      <!--增加用户-->
      <insert id="addStudent" useGeneratedKeys="true" keyProperty="student_Id"  >
        insert into renwu1
          <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="student_Id!=null">
                student_Id,
              </if>
              <if test="create_At!=null">
                  create_At,
              </if>
              <if test="update_At!=null">
                  update_At,
              </if>
              <if test="student_Name!=null">
                  student_Name,
              </if>
              <if test="student_Qq!=null">
                  student_Qq,
              </if>
              <if test="student_Type!=null">
                  student_Type,
              </if>
              <if test="learning_Time!=null">
                  learning_Time,
              </if>
              <if test="School!=null">
                  School,
              </if>
              <if test="laerning_Number!=null">
                  laerning_Number,
              </if>
              <if test="learning_Url!=null">
                  learning_Url,
              </if>
              <if test="Dream!=null">
                  Dream,
              </if>
              <if test="Teacher!=null">
                  Teacher,
              </if>
          </trim>
          <trim prefix="values(" suffix=")" suffixOverrides=",">
              <if test="student_Id!=null">
                  #{student_Id},
              </if>
              <if test="create_At!=null">
                  #{create_At},
              </if>
              <if test="update_At!=null">
                  #{update_At},
              </if>
              <if test="student_Name!=null">
                  #{student_Name},
              </if>
              <if test="student_Qq!=null">
                  #{student_Qq},
              </if>
              <if test="student_Type!=null">
                  #{student_Type},
              </if>
              <if test="learning_Time!=null">
                  #{learning_Time},
              </if>
              <if test="School!=null">
                  #{School},
              </if>
              <if test="laerning_Number!=null">
                  #{laerning_Number},
              </if>
              <if test="learning_Url!=null">
                  #{learning_Url},
              </if>
              <if test="Dream!=null">
                  #{Dream},
              </if>
              <if test="Teacher!=null">
                  #{Teacher},
              </if>
          </trim>
      </insert>

      <!--删除学生-->
      <delete id="deleteStudent" >
        delete from renwu1 where student_id = #{id}
      </delete>

      <!--根据学生id修改学生信息-->
      <update id="updateStudent">
        update renwu1
        <set>
            <if test="create_At!=null">
                create_At= #{create_At},
            </if>
            <if test="update_At!=null">
                update_At= #{update_At},
            </if>
            <if test="student_Name!=null">
                student_Name=#{student_Name},
            </if>
            <if test="student_Qq!=null">
                student_Qq=#{student_Qq},
            </if>
            <if test="student_Type!=null">
                student_Type=#{student_Type},
            </if>
            <if test="learning_Time!=null">
                learning_Time=#{learning_Time},
            </if>
            <if test="School!=null">
                School=#{School},
            </if>
            <if test="laerning_Number!=null">
                laerning_Number=#{laerning_Number},
            </if>
            <if test="learning_Url!=null">
                learning_Url=#{learning_Url},
            </if>
            <if test="Dream!=null">
                Dream=#{Dream},
            </if>
            <if test="Teacher!=null">
                Teacher=#{Teacher},
            </if>
        </set>
          where student_Id=#{student_Id}
      </update>
      <!--查询t_user表中数据行数-->
      <select id="queryCount" resultType="java.lang.Integer">
            select count(*) from renwu1
        </select>

      <!--查询t_user表中所有数据信息-->
      <select id="queryAll" resultMap="studentMap">
            select
            <include refid="selectSql"/>
            from renwu1
      </select>

    <!--物理分页查询t_user表中所有数据信息-->
    <select id="findAll" parameterType="map" resultMap="studentMap">
        select
         student_Id,create_At,update_At,student_Name,student_Qq,student_Type,learning_Time,School,laerning_Number,learning_Url,Dream,Teacher
        from renwu1 limit #{currIndex},#{pageSize}
    </select>

      <!--查询指定名字学生报名帖信息-->
      <select id="queryByName" parameterType="java.lang.String" resultMap="studentMap">
            select
          <include refid="selectSql"/>
            from renwu1 where student_name = #{student_name}
      </select>

        <!--查询指定学号学生报名帖信息-->
      <select id="queryByLearnNumber" parameterType="java.lang.Integer" resultMap="studentMap">
            select
              <include refid="selectSql"/>
            from renwu1 where laerning_Number =#{laerning_Number}
      </select>

      <insert id="addAll" >
          insert into renwu1
          (<include refid="selectSql"/>)
          values
          <foreach collection="list" item="student" separator=",">
              (#{student.create_At},#{student.update_At},#{student.student_Name},#{student.student_Qq},#{student.student_Type},#{student.learning_Time},#{student.School},#{student.laerning_Number},#{student.learning_Url},#{student.Dream},#{student.Teacher})
          </foreach>
      </insert>



</mapper>